body {
    font-family: "Avenir Next", sans-serif;
    /* You can add more font-family declarations here for fallback options */
}

h1, h2, h3 {
    font-family: "Minion Variable Concept";
}

h4 {
    font-family: "Minion Variable Concept";
}

p1 {
    font-family: "Minion Variable Concept";
}

 h1{
    font-size:2rem;
  }

  .outer{
    border: 2px dashed #303030;
    min-height: 2px;
  }
  
  p{
    padding: 20px
  }

  h1, h2, h3{
    padding: 20px
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    padding: 20px;
  }
  
  .grid-item {
    background-color: rgba(255, 252, 244, 0.8);
    border: 1.5px solid rgba(13, 13, 13, 0.8);
    padding: 20px;
    font-size: 18px;
    text-align: center;
  }
  
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

   