:root {
    --primary-bg-color: #f9f7ef;
    --text-color: #0d0d0d;
    --main-bg-color: #242424;
    --main-text-color: #fff;
    --main-btn-bg-color: #f5f5f5;
  }

  
   /* Search bar */
  .navigation-bar {
    display: flex;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .nav-option {
    padding: 10px 60px;
    cursor: pointer;
    transition: background-color 0.3s ease, border-radius 0.3s ease; 
  }
  
  .nav-option:hover {
    background-color: #ab8f70;
    color: rgb(255, 255, 255);
    border-radius: 20px; /* Apply rounded corners on hover */
  }
  

  ul {
    margin: 0;
    padding: 0;
  }

  h1 {font-family:Lao MN; font-weight: 150;}

  
  body {
    font-family: Montserrat; font-weight: 430;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: space-between;
  }
  
  .header {
    align-self: flex-start; 
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    line-height: 1.12;
    font-size: 70px;
  }

  h2{font-size: 25px;
    font-weight: 450;}

       /* first page */

    .container {
      display: flex;
      width: 90%;
      max-width: 1000px;
      align-items: center;
  }
  
  .left-side {
      flex: 1;
      padding: 10px;
  }
  
  .left-side h1 {
      font-size: 50px;
      margin-bottom: 15px;
      color: #333;
      font-family: Lao MN;
      font-weight: 200;
  }
  
  .left-side p {
      font-size: 15px;
      margin-bottom: 20px;
      color: #000000;
      
      
  }
  

  .right-side {
      flex: 0.8;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .bread-image {
    max-width: 70%;
    height: auto;
    padding-top: 120px; /* Adjust the value as needed */

  }
  
  .dog-image {
    position: absolute;
    width: 400px; /* Adjust size as needed */
    height: auto;
    top: 700px; /* Adjust top position as needed */
    left: 47%; /* Center horizontally */
    transform: translateX(-50%); /* Center the image */
    z-index: 0; /* Ensure it is behind the title */
    animation: jump 1s infinite alternate;


  }

  @keyframes jump {
    0% {
      transform: translate(-50%, -50%);
    }
    100% {
      transform: translate(-50%, -60%);
    }
  }
____

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 80%;
}

.title {
  font-family: 'Georgia', serif;
  font-size: 15px;
  margin: 0;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
  table-layout: fixed;
}

.title-cell {
  border-bottom: 1px solid #000;
  text-align: center;
  padding: 10px 0;
  font-size: 12px;

}

.products-row {
  border-bottom: 1px solid #000;
}

.product {
  text-align: center;
  border-right: 1px solid #000;
  padding: 20px;
}

.product:last-child {
  border-right: none;
}

.product img {
  width: 80%;
  height: auto;
  max-width: 150px;
}

.buttons-row {
  border-top: 1px solid #000;
}

.buttons {
  text-align: center;
  padding: 10px;
  border-right: 1px solid #000;
}

.buttons:last-child {
  border-right: none;
}

button {
  display: block;
  width: 100px;
  margin: 7px ;
  padding: 1px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color: #f9f7ef;
  color: #020202;
  transition: background-color 0.3s;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between buttons */
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between buttons */
}

button:hover {
  background-color: #ffebb0;
}

/* Why choose us */
.container1 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center elements horizontally */
  justify-content: center; /* Center elements vertically */
  width: 90%;
  max-width: 400px; /* Adjust the max width as needed */
  padding: 20px;
  box-sizing: border-box;
}

.title {
  font-size: 25px; /* Adjust font size as needed */
  margin-bottom: 20px;
  font-family:Lao MN; font-weight: 50;
}

.bread1-image {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px; /* Space between the image and text */
}

.body-text {
  font-size: 16px; /* Adjust font size as needed */
  color: #201f1f;
  text-align: center; /* Align text to center */
}





 /* Staff Card */
 .staff-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  font-size: 18px;}

  .staff-card {
  width: calc(33.33% - 40px); /* Adjust the width and space between */
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  margin: 0 40px; /* Add margin between each card */
}

.card-header {
  background-color: #f9f7ef;
  border-bottom: 1px solid #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 0;
}

.card-header h2 {
  margin: 0;
  font-size: 18px;
}

.card-image img {
  width: 40%; /* Adjust the image size */
  margin-top: 30px;
}

.card-image img#chiefImage {
  width: 80px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.card-image img:hover {
  transform: scale(1.1); /* Optionally, scale the image on hover */
}

.card-footer {
  padding: 10px 0;
}

/* ENJOY OUR FOOD*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

.container {
  display: flex;
}

.left-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-side .cookie-image {
  max-width: 100%;
  width: 80%;
}

.left-side .caption {
  margin-top: 10px;
  font-size: 17px;
  color: #252525;
}

.right-side {
  flex: 1.5;
}

.right-side h1 {
  font-size: 30px;
  margin-bottom: 250px;
}


.right-side .sub-heading {
  font-size: 17px;
  font-family: Arial, sans-serif;
  color: #2b2b28;
  margin-bottom: 20px;
    flex-direction: column;


}

.right-side hr {
  border: none;
  border-top: 2px solid #000;
  margin-bottom: 20px;
}



.bottom-text {
  display: flex;
  flex-direction: column;
}

.text-item {
  display: flex;
  align-items: center;
  margin-top: 30px; /* This moves the items down */
  margin-bottom: -30px;
}

.text-item .number {
  font-size: 24px;
  margin-right: 10px;
  font-family: Arial, sans-serif;

}

.text-item .text {
  font-size: 17px;
}


.container1 {
  text-align: center;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.ball {
  width: 60px;
  height: 60px;
  background-color: #ffd38d;
  border-radius: 50%;
  position: absolute;
  transition: transform 0.5s ease, background-color 0.5s ease;
}

.ball:hover {
  background-color: #cdb798; /* Dark brown */
}

* Manually position each ball */
    #ball1 {
      top: 40%;
      left: 40%;
    }

    #ball2 {
      top: 30%;
      left: 10%;
    }

    #ball3 {
      top: 60%;
      left: 80%;
    }

    #ball5 {
      top: 20%;
      left: 80%;
    }


    .banner-container {
      overflow: hidden;
      white-space: nowrap;
      width: 80%; /* Adjust width as needed */
      height: 30px; /* Adjust height as needed */
      border: 1px solid #000;
      margin: 0 auto; /* Center the banner */
    }

    .text-banner {
      display: inline-block;
      font-size: 18px; /* Adjust font size as needed */
      white-space: nowrap; /* Prevent text from wrapping */
      overflow: hidden; /* Hide overflow text */
    }
    
    @keyframes moveText {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
    
        /* Adjust animation duration as needed */
        .text-banner {
          animation: moveText 30s linear infinite;
        }
        
        .number {
          position: relative; /* Needed for absolute positioning of the circles */
          cursor: pointer; /* Change cursor to pointer on hover */
        }
      
        .number::after {
          content: "";
          display: block;
          width: 20px;
          height: 20px;
          background-color: transparent;
          border-radius: 50%; /* To make it a circle */
          position: absolute;
          bottom: -20px; /* Adjust as needed */
          left: 90%; /* Center it horizontally under the number */
          transform: translateX(-50%); /* Center it horizontally */
          transition: background-color 0.3s ease; /* Smooth transition effect */
        }
      
        .number:hover::after {
          background-color: #ffd38d; /* Change background color on hover */
        }

        .logo-container {
          position: relative;
        }
        
        #logo {
          position: absolute;
          left: -500px; /* Adjust as needed */
          width: 130px; /* Adjust the size as needed */
          height: auto; /* Maintain aspect ratio */
          transition: all 0.3s ease;
        }
        
        #logo:hover {
          cursor: pointer;
          filter: grayscale(0%);
        }
        
        